* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: .33rem;
    display: flex;
    justify-content: space-between;
    line-height: .33rem;
    align-items: center;
    padding: 0 .1rem;
    box-sizing: border-box;
    color: #898989;
    border-bottom: solid 1px #ccc;
    >img {
        width: .8rem;
        height: .2rem;
    }
}

.main {
    width: 100%;
    flex: 1;
    background: #fff;
    overflow: hidden;
}

.nav {
    width: 100%;
    height: .9rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    dl {
        text-align: center;
        dt {
            img {
                width: .34rem;
                height: .34rem;
            }
        }
        dd {
            color: #ccc;
            h6 {
                font-size: .12rem;
            }
            span {
                font-size: .12rem;
            }
        }
    }
}

.sublist {
    width: 100%;
    height: auto;
    ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li {
            width: 25%;
            flex-shrink: 0;
            text-align: center;
            height: .6rem;
            span {
                display: block;
                font-size: .12rem;
            }
        }
    }
}

.pic {
    width: 100%;
    height: .66rem;
    img {
        width: 100%;
        height: auto;
    }
}

.footer {
    width: 100%;
    height: .38rem;
    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        li {
            text-align: center;
            color: #B2AFAF;
            &.active {
                color: #DF3448;
            }
            span {
                display: block;
            }
        }
    }
}